<div data-message="{{message}}" class="toast-block"></div>

<h1 class="page-title">Các tài liệu hiện có</h1>
<div style="margin: 0;" class="row">
    {{#each groups}}
        <div  class="blog-item" style="width: 18rem;">
            <div class="container-img">
                <img src="{{this.img}}" class="card-img-top" alt="...">
            </div>
            <div class="container-content">
                <h5 class="content-title">{{this.name}}</h5>
                <p class="content-subtitle">{{this.description}}</p>
                <a href="/groups/{{this.slug}}" class="button-normal button--small">Xem</a>
            </div>
        </div>
    {{/each}}
</div>
<h1 class="page-title">Các bài viết nổi bật</h1>
<div style="margin: 0;" class="row">
    {{#each blogs}}
        <div  class="blog-item" style="width: 18rem;">
            <div class="container-img">
                <img src="{{this.image}}" class="card-img-top" alt="...">
            </div>
            <div class="container-content">
                <h5 class="content-title">{{this.title}}</h5>
                <p class="content-subtitle">{{this.author.name}}</p>
                <a href="/commu/blog/{{this.slug}}" class="button-normal button--small">Xem</a>
            </div>
        </div>
    {{/each}}
</div>

<script src="/js/toastMessage.js"></script>
<script>
    window.addEventListener('DOMContentLoaded', function() {
        //xử lí toast-message
        const toastBlock = document.querySelector('.toast-block');
        const toastData = toastBlock.getAttribute('data-message');
        console.log(toastData);
        function show(value) {
            valueToast = {
                success: "Thành công",
                warning: "Cảnh báo",
                error: "Thất bại",
                info: "Tin nhắn"
            }
            messageContent = {
                success: "Đăng nhập thành công",
                warning: "Tài khoản đã tồn tại",
                error: "Tài khoản không hợp lệ",
                info: "Có sự cố xảy ra, vui lòng thử lại sau!"
            }
            const resultName = valueToast[value]
            const message = messageContent[value]
            toast({
            name: resultName,
            type: value,
            message  
            }, 3000)
        }

        if(toastData) {
            show(toastData);
        }
    })
</script>